<h1>All Posts - Admin View</h1>

{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>{{this.contents}}</p>
    <a href="/dashboard/edit/{{this.id}}">Edit</a>
    <a href="/dashboard/delete/{{this.id}}">Delete</a>
  </div>
{{/each}}

