

{{!-- <body> --}}
    <header>
        <h1 class="app-title">Sign Up</h1>
    </header>
    <main class="flex-column justify-center align-center min-100-vh">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h2>Create an Account</h2>
                </div>
                <div class="card-body">
                    <form id="signup-form">
                        <div>
                            <label for="username-input-signup" class="form-label">Username:</label>
                            <input type="text" id="username-input-signup" name="username" class="form-input">
                        </div>
                        <div>
                            <label for="password-input-signup" class="form-label">Password:</label>
                            <input type="password" id="password-input-signup" name="password" class="form-input">
                        </div>
                        <div>
                            <button type="submit" class="btn">Sign Up</button>
                        </div>
                    </form>
                    <p>Already have an account? <a href="/login">Login here</a></p>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/signup.js"></script>
{{!-- </body> --}}


